#header {
	position: relative;
	/*height: 122px;*/
  	background-color: #104E8B;
	/*background: url('/images/AMS_body_background_blue_long.png') repeat-x top left;*/
	z-index: 10;
	width: 100%;
	margin-top: 0.5em;
	padding-top: 0.5em;
}

#header h3 {
  display: block;
  float: right;
  font-size: 0.85em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
  margin-top: 0px;
  padding-top: 0px;
  color: #A7CC53;
  padding-right:2px;
}

body {
    background-color:#F8F8FF;
    /*background-image:url('/images/AMS_body_background_green.png');*/
    font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#top_nav {
	background-color: #104E8B;
	margin: 0 auto;
	text-align: center;
	border-bottom:3px solid #A7CC53;
	height: 36px;
	}

#top_nav ul {
	list-style:none;
	margin:0;
	padding: 0;
	vertical-align: bottom;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
	color: #A7CC53;
  /*font-weight: bold;*/
	}

#top_nav li {
	margin:0;
	padding-bottom:5px;
	display:inline;
	}

#top_nav a:link {
	text-decoration:none;
	/*background-color:#D5DFF0;*/
	color: #A7CC53;
	padding: 10px 20px;
	display: inline-block;
	}

#top_nav a:visited {
	text-decoration:none;
	/*color: #A7CC53;
	text-decoration:underline;*/
	color:#A7CC53;
	/*border-bottom:0.3em solid #FF0000;*/
	/*background-color:#D5DFF0;*/
	padding: 10px 20px;
	display: inline-block;
	}

#top_nav a:active {
	/*background-color: #D5DFF0;
	text-decoration:underline;*/
	color:#A7CC53;
	/*border-bottom:0.3em solid #FF0000;*/
	}

#top_nav a:hover {
	/*background-color:#FF0000;*/
	text-decoration:underline;
	color:#A7CC53;
	/*border-bottom:3px solid #FF0000;*/
	padding-bottom: 0;
	}

/* Sub Nav for About Us page */
#nav_about_us {
	/*background-color: #104E8B;*/
	margin: 0 auto;
	text-align: center;
	border-bottom:1px solid #A7CC53;
	height: auto;
	width: auto;
	}

#nav_about_us ul {
	display: inline;
	list-style:none;
	padding-top: 10px;
	padding-bottom: 3px;
	top: 0;
	position: relative;
	clear: both;
	white-space: normal;
	border-bottom-color: 1px #eaeaea;
	/*
	margin: 0;
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 6px;
	border-bottom-color: #eaeaea;
	background-color: white;
	position: relative;
	vertical-align: bottom; 
	font-size: 0;
    font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';*/
	/*color: #A7CC53;*/
  /*font-weight: bold;*/
	}

#nav_about_us ul li:last-child { 
	border: none;
}

#nav_about_us li {
    font-size: 0.90em;
    font-weight: 500;
    font-style: normal;
    font-family: "Helvetica",arial,helvetica,sans-serif;
    display: inline-block;
    vertical-align: top;
    color: #000;
    margin: 0;
    border: none;
    /*border-left: 1px solid #e2e2e2;*/
}

li.firstItem { 
	border-left: none;
	float: none; 
}


#nav_about_us a:link {
	text-decoration:none;
	/*background-color:#D5DFF0;*/
	color: #A7CC53;
	padding: 10px 20px;
	display: inline-block;
	}

#nav_about_us a:visited {
	text-decoration:none;
	color: #A7CC53;
	border-bottom:0.3em solid #FF0000;
	/*background-color:#D5DFF0;*/
	padding: 10px 20px;
	display: inline-block;
	}

#nav_about_us a:active {
	/*background-color: #D5DFF0;*/
	color:#A7CC53;
	/*border-bottom:0.3em solid #FF0000;*/
	}

#nav_about_us a:hover {
	/*background-color:#FF0000;*/
	text-decoration:underline;
	color: #A7CC53;
	/*border-bottom:2px solid #FF0000;*/
	padding-bottom: 0;
	}

/* Drop-Down Navigation */
ul#sub_nav li:hover > ul
{
/*these 2 styles are very important, 
being the ones which make the drop-down to appear on hover */
	visibility:visible;
	opacity:1;
}


ul#sub_nav ul, ul#sub_nav ul li ul {
	list-style: none;
    margin: 0;
    padding: 0;    
/*the next 2 styles are very important, 
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
	width:180px;
	background:#f8f8f8;
	box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
	-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
	-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
	transition:opacity 0.2s linear, visibility 0.2s linear; 	
}

ul#sub_nav ul {
    top: 43px;
    left: 1px;
}

ul#sub_nav ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}

ul#sub_nav ul li {
	clear:both;
	width:100%;
	border:0 none;
	border-bottom:1px solid #c9c9c9;
}

ul#sub_nav ul li a {
	background:none;
	padding:7px 15px;
	color:#616161;
	text-shadow:1px 1px 0px #fff;
	text-decoration:none;
	display:inline-block;
	border:0 none;
	float:left;
	clear:both;
	width:150px;
}


h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.displayed {
    float:left;
    width: 100%;
    max-width: 100%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}

img.stretch {
  width: 150%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

img.shrink {
  width: 25%;
  height: 25%;
  max-width: 25%;
  max-height: 25%;
  margin-left: auto;
  margin-right: auto;
}

img#logo {
	/*position: absolute;*/
  margin-left: 10px;
}

#brand_msg {
	position: absolute;
  margin-left: 12px;
  width: 50%;
  height: 50%;
}

#main_section {
	position: relative;
	width: 100%;
}

#main_section_header {
  float:left;
	width: 100%;
}

#container {
	width: 90%;
	background-color:white;
	position: relative;
	margin-top: 0px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1082px;
  /*background-image:url('/images/AMS_body_background.png');*/
  border: solid 2px 3D59AB;
}

#left_sidebar {
	width: 20%;
	float:left;
	padding-bottom: 1em;
	/*padding-top: 1em;*/
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

#left_sidebar ul {
  list-style-image: url('/images/AMS_list_tick_mark.png');
}

#left_sidebar li {
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section {
	width: 60%;
	float:left;
  padding-left: 2em;
  padding-bottom: 1em;
	/*padding-top: 1em;*/
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
  text-align: justify;
}

#content_section p {
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#board_section {
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
  text-align: justify;
}

#right_sidebar {
	float: left;
	width: 15%;
	/*padding-top: 1em;*/
	padding-left:1em;
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#footer {
    border-top: 1px solid #d5d5d5;
    font-size: .75em;
}

#footer {
	margin: 1em;
	clear:both;
	background-color: #104E8B;
	color: #A7CC53;
	line-height: 15%;
}

#footer_text {
	margin-left: 15%;
	padding: 1em;
	}

#footer_text h2 {
	color: #A7CC53;
}

#footer_text p {
	color: #A7CC53;
}

#footer_text a {
	color: #A7CC53;
}

.rotate90 {
	margin: "0px 20px";
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#left_sidebar_admin {
	width: 10%;
	float:left;
	/*padding-top: 1em;*/
  font-size: 0.85em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section_admin {
	width: 70%;
	float:left;
  padding-left: 2em;
	/*padding-top: 1em;*/
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

img#admission {
	width: 85%; 
	height: 85%;
	float: right;
	margin: 0px; 
	border-width: 0px; 
	border-style: solid;
}

p.clear {
	clear: both;
}

#content_section_admin p {
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
  text-align: justify;
}

#right_sidebar_admin {
	float: left;
	width: 50%;
	padding-bottom: 1em;
	/*padding-top: 1em;*/
	padding-left:1em;
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section_curr p {
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
  text-align: justify;
}

#right_sidebar_curr {
	float: left;
	width: 50%;
	padding-bottom: 1em;
	/*padding-top: 1em;*/
	padding-left:1em;
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}


#left_sidebar_curr {
	width: 10%;
	float:left;
	/*padding-top: 1em;*/
  font-size: 0.85em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section_curr {
	width: 70%;
	float:left;
  padding-left: 2em;
	/*padding-top: 1em;*/
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section_prog {
	width: 70%;
	float:left;
  padding-left: 2em;
	/*padding-top: 1em;*/
  font-size: 1em;
  font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section_prog p {
  font-size: 1em;
  font-family: 'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
  text-align: justify;
}

#content_section_prog h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
}

#content_section_prog h3 {
    font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
    color: green;
}

#content_section_prog h4 {
    font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif';
    color: green;
}

#content_section_prog mark { 
    background-color: #D3D3D3;
    color: black;
}

.boxed {
	border: 1px solid #D3D3D3;
	background-color: #D3D3D3;
}


