<footer>
<div class="footer">

    <div class="top">
        <div class="container cf">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget widget-connect">
                        <a href="http://www.americanmontessorischools.com" class="footer-logo notext img-responsive">&nbsp;</a>

                        <div class="socials">
                            
                            <p>67 US-206</p>
                            <p>Hillsborough, NJ 08844</p>
                            <p><a class="phone" href="tel:+19089776640">(908) 977-6640</a></p>
                        
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/AmericanMontessoriSchools" class="facebook-link">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://plus.google.com/+Americanmontessorischools/about" class="google-plus-link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://youtu.be/mWaY5u6N-KM" class="youtube-link">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul><br>
                            <img src="{{ "/images/AMS_FY16_Member.png" | prepend: site.baseurl }}" class="img-responsive" alt="AMS cerfied logo"/><br><br>
                        </div><!-- /.socials -->
                    </div><!-- /.widget -->
                </div>
            <!--
            <div class="widget widget-double col-md-3">
                <h4 class="widget-title">Quick Links</h4>

                <ul id="menu-double-left" class="menu">
                    <li id="menu-item-4881" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4881"><a href="{{ "/academics/curriculum_overview.html" | prepend: site.baseurl }}">Curriculum</a></li>
                    <li id="menu-item-4882" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4882"><a href="{{ "/admissions/tuition.html" | prepend: site.baseurl }}">Tuition Fees</a></li>
                    <li id="menu-item-5053" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5053"><a href="http://goo.gl/forms/N1VRwvhPlVbA6pI23" target="_blank">Schedule Visit</a></li>
                </ul>
                <ul id="menu-double-right" class="menu">
                    <li id="menu-item-4883" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4883"><a href="{{ "/academics/school_calendar.html" | prepend: site.baseurl }}">School Calendar</a></li>
                    <ul id="menu-double-right" class="menu">
                        <li id="menu-item-4883" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4883"><a href="{{ "/academics/school_hours.html" | prepend: site.baseurl }}">School Hours</a></li>
                    </ul> 
                </ul>           
            </div> /.widget -->

            <div class="widget col-md-3">
                <h4 class="widget-title">About Us</h4>

                <ul id="menu-solutions" class="menu">
                    <li id="menu-item-4884" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4884"><a href="{{ "/about/montessori_education.html" | prepend: site.baseurl }}">Montessori Education</a></li>
                    <li id="menu-item-5047" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5047"><a href="{{ "/about/mission.html" | prepend: site.baseurl }}">Our Mission</a></li>
                    <li id="menu-item-5048" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5048"><a href="{{ "/about/board_members.html" | prepend: site.baseurl }}">Board of Advisors</a></li>
                    <li id="menu-item-5049" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-5049"><a href="{{ "/about/contact_us.html" | prepend: site.baseurl }}">Contact Us</a></li>
                </ul>            
            </div><!-- /.widget -->

            <div class="widget col-md-3">
                <h4 class="widget-title">Academics</h4>


                <ul id="menu-support" class="menu">
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/academics/curriculum_overview.html" | prepend: site.baseurl }}">Curriculum Overview</a></li>
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/academics/programs.html" | prepend: site.baseurl }}">Montessori Programs</a></li>
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/academics/school_hours.html" | prepend: site.baseurl }}">School Hours</a></li>
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/academics/school_calendar.html" | prepend: site.baseurl }}">School Calendar</a></li>
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/academics/summer_program.html" | prepend: site.baseurl }}">Summer Program</a></li>
                </ul>
            </div><!-- /.widget -->


            <div class="widget col-md-3">
                <h4 class="widget-title">Admissions</h4>


                <ul id="menu-support" class="menu">
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/admissions/tuition.html" | prepend: site.baseurl }}">Tuition Fees & Schedule</a></li>
                    <li id="menu-item-4885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4885"><a href="{{ "/admissions/schedule_visit.html" | prepend: site.baseurl }}">Schedule A Visit</a></li>
                </ul>
            </div><!-- /.widget -->

            </div> <!-- /.row -->

        </div><!-- /.container -->
    </div><!-- /.top -->

    <div class="bottom">
        <div class="container cf">
            <div class="row">
                <div class="col-md-12 col-center text-center">
                      <p class="copyright">&copy; 2001-<script>document.write(new Date().getFullYear());</script>
                      <strong>American Montessori Schools LLC. </strong> All rights reserved.&nbsp<span></span></p> 
                      <p>
                            <span class="fa-lg"> <i class="fa fa-github"></i>
                      </p>
                      <!-- <a href="/terms-and-conditions/">Privacy Policy  &amp;  Terms</a> -->
                </div>

                <div class="col-md-8">
                
                </div>

            </div> <!-- /.row -->
         </div><!-- /.container -->
    </div><!-- /.bottom -->

</div> <!-- /.footer -->

</footer>