
<header role="banner">
     
<div class="container-fluid">  
<nav role="navigation" class="navbar navbar-default navbar-fixed-top bg-white">
<div class="row">
      <div id="topbar">
        <ul>
            <li>
              <span class="fa-sm">
                <i class="glyphicon glyphicon-map-marker"></i>
              </span>
                <a href="https://goo.gl/maps/GEUhbKTsMCF2" target="_blank"><strong>67 US-206, Hillsborough, NJ 08844</strong></a>&nbsp
            </li>
            <li>
              <span class="fa-sm">
                <i class="fa fa-phone"></i>
                <a href="tel:+19089776640"><strong>(908) 977-6640</strong></a>&nbsp
              </span>
            </li>
            <li>
              <span class="fa-sm">
                <i class="fa fa-envelope"></i>
              </span>
                <a href="mailto:info@americanmontessorischools.com?Subject=Hello" target="_top"><strong>info@americanmontessorischools.com</strong></a>&nbsp
            </li>
            <li>
              <span class="fa-sm">
                <i class="fa fa-clock-o"></i>
              </span>
              <a><strong>7 a.m. - 6:30 p.m.</strong></a>
            </li>
            <li class="social socialshift">
              <strong>Follow us:</strong>
              <a href="https://www.facebook.com/AmericanMontessoriSchools" target="_blank"> 
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social">
              <a href="https://plus.google.com/+Americanmontessorischools/about" target="_blank"> 
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social">
              <a href="https://youtu.be/mWaY5u6N-KM" target="_blank"> 
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </li>

    <!--
    <li id="socialshift"><a href="https://www.facebook.com/AmericanMontessoriSchools" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li id="socialspace"><a href="https://plus.google.com/+Americanmontessorischools/about" target="_blank"><i class="fa fa-google-plus fa-lg"></i> </a></i>
    <li id="socialspace"><a href="https://youtu.be/mWaY5u6N-KM" target="_blank"><i class="fa fa-youtube fa-lg"></i></a></li>
    <li id="socialspace"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li id="socialspace"><a href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li id="socialspace"><div class="fb-like" data-href="https://www.facebook.com/AmericanMontessoriSchools" data-width="10" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div></li>  

<li><a href="http://goo.gl/forms/N1VRwvhPlVbA6pI23" target="_blank">Schedule A Visit</a></li>

<li><a href="http://goo.gl/forms/hQYCaxzZITfhXBU83" | prepend: site.baseurl }}" target="_blank">Contact Us</a></li>
              -->
        </ul>
</div>
      </div>

 <div class="header">
<div class="col-md-10 col-center">
      <div class="navbar-header">
          <a id="homeButton" href="{{ "/index.html" | prepend: site.baseurl }}">
            <span></span>
          </a> 
<!--
<div id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<a  href="#"><span></span></a>


          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <a id="nav-toggle" href="#"><span></span></a>
                       
          </button>
-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

      </div>



    <div class="navbar-collapse collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ "/index.html" | prepend: site.baseurl }}">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu1" aria-haspopup="true" aria-expanded="false"><strong>About</strong> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" href="{{ "/about/montessori_education.html" | prepend: site.baseurl }}">Montessori Education</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/about/mission.html" | prepend: site.baseurl }}">Our Inspiration & Mission</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/about/board_members.html" | prepend: site.baseurl }}">Meet Our Board</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/about/contact_us.html" | prepend: site.baseurl }}">Contact Us</a></li>
                      </ul>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu2" aria-haspopup="true" aria-expanded="false"><strong>Academics</strong> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                        <li role="presentation"><a role="menuitem" href="{{ "/academics/curriculum_overview.html" | prepend: site.baseurl }}">Curriculum Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/academics/programs.html" | prepend: site.baseurl }}">Montessori Programs</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/academics/school_hours.html" | prepend: site.baseurl }}">School Hours</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/academics/school_calendar.html" | prepend: site.baseurl }}">School Calendar</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/academics/summer_program.html" | prepend: site.baseurl }}">Summer Program & Fees</a></li>
                      </ul>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu3" aria-haspopup="true" aria-expanded="false"><strong>Admissions</strong> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                      <!--
                        <li><a href="#">Admissions Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/academics/index.html" | prepend: site.baseurl }}">Enrollment Process</a></li> 
                        <li role="separator" class="divider"></li> -->
                        <li role="presentation"><a role="menuitem" href="{{ "/admissions/tuition.html" | prepend: site.baseurl }}">Tuition Fees & Schedule</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="presentation"><a role="menuitem" href="{{ "/admissions/schedule_visit.html" | prepend: site.baseurl }}">Schedule A Visit</a></li>

                      </ul>
                </li>

            </ul>

    </div> <!-- collapse -->
</div>
</div>
</div>
<!--
    <div id="morebar_clear">
        <div class="bounce">
            <p>NOW ENROLLING!!! SUMMER CAMP &amp; FALL 2016</p>
        </div>        
    </div>
-->



  </nav>
</div> 

<script>
    $(function() {
        $(".dropdown").hover(
            function(){ $(this).addClass('open') },
            function(){ $(this).removeClass('open') }
        );
    });
</script>

</header>