<header>
<!--
<div class="toggleMobile">
    <span class="menu1"></span>
    <span class="menu2"></span>
    <span class="menu3"></span>
</div>
<div id="mobileMenu">
    <ul>
        <li><a href="javascript:void(0)">Home</a></li>
        <li><a href="javascript:void(0)">About Us</a></li>
        <li><a href="javascript:void(0)">Admissions</a></li>
        <li><a href="javascript:void(0)">Programs</a></li>
        <li><a href="javascript:void(0)">Location</a></li>
        <li><a href="javascript:void(0)">Contact Us</a></li>
    </ul>
</div> 

<h1>American Montessori School</h1>
<p>...because your child deserves the best</p> -->


<!--<p>...because your child deserves the best</p> </div> 

<img src="{{ "/images/AMS_logo_transparent.png" | prepend: site.baseurl }}" alt="American Montessori School">

<nav>
<h2 class="hidden">Our navigation</h2>
<ul>
<li><a href="javascript:void(0)">Home</a></li>
<li><a href="javascript:void(0)">About Us</a></li>
<li><a href="javascript:void(0)">Admissions</a></li>
<li><a href="javascript:void(0)">Programs</a></li>
<li><a href="javascript:void(0)">Location</a></li>
<li><a href="javascript:void(0)">Contact Us</a></li>
</ul>

</nav>
-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ "/images/AMS_logo_transparent.png" | prepend: site.baseurl }}">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">HOME</a></li>
        <li><a href="#services">ABOUT</a></li>
        <li><a href="#portfolio">ADMISSIONS</a></li>
        <li><a href="#pricing">PROGRAMS</a></li>
        <li><a href="#pricing">LOCATIONS</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>



</header>

-- new header version

---

---


<header role="banner">
     
<div class="container-fluid">  
<nav role="navigation" class="navbar navbar-default navbar-fixed-top bg-white">
      <div id="topbar">
        <div>
        <ul>
            <li>
              <span class="fa-sm">
                <i class="fa fa-home"></i>
              </span>
                <a href="https://goo.gl/maps/GEUhbKTsMCF2" target="_blank"><strong>67 US-206, Hillsborough Township, NJ 08844</strong></a>&nbsp
            </li>
            <li>
              <span class="fa-sm">
                <i class="fa fa-phone"></i>
                <a class="phone" href="tel:+19089776640">908.977.6640</a>&nbsp
              </span>
            </li>
            <li>
              <span class="fa-sm">
                <i class="fa fa-envelope"></i>
              </span>
                <a href="mailto:info@americanmontessorischools.com?Subject=Hello" target="_top"><strong>info@americanmontessorischools.com</strong></a>&nbsp
            </li>
            <li>
              <span class="fa-sm">
                <i class="fa fa-clock-o"></i>
              </span>
              <a><strong>7 a.m. - 6:30 p.m.</strong></a>
            </li>
            <li id="socialshift">
              <strong>Follow us:</strong>
              <a href="https://www.facebook.com/AmericanMontessoriSchools" target="_blank"> 
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
    <!--
    <li id="socialshift"><a href="https://www.facebook.com/AmericanMontessoriSchools" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
    <li id="socialspace"><a href="https://plus.google.com/+Americanmontessorischools/about" target="_blank"><i class="fa fa-google-plus fa-lg"></i> </a></i>
    <li id="socialspace"><a href="https://youtu.be/mWaY5u6N-KM" target="_blank"><i class="fa fa-youtube fa-lg"></i></a></li>
    <li id="socialspace"><a href="#" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li id="socialspace"><a href="#" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
              <li id="socialspace"><div class="fb-like" data-href="https://www.facebook.com/AmericanMontessoriSchools" data-width="10" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div></li>  

<li><a href="http://goo.gl/forms/N1VRwvhPlVbA6pI23" target="_blank">Schedule A Visit</a></li>

<li><a href="http://goo.gl/forms/hQYCaxzZITfhXBU83" | prepend: site.baseurl }}" target="_blank">Contact Us</a></li>
              -->
        </ul>
        </div>

      </div>

      <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>

          <a id="homeButton" href="{{ "/index.html" | prepend: site.baseurl }}">
            <span></span>
          </a> 
      </div>


  <div class="row">
    <div class="collapse navbar-collapse" id="myNavbar">

      <div class="col-xs-1 col-sm-8 col-md-9 col-lg-10">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a <a href="{{ "/about/montessori_education.html" | prepend: site.baseurl }}">Montessori Education</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/about/mission.html" | prepend: site.baseurl }}">Our Inspiration & Mission</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/about/board_members.html" | prepend: site.baseurl }}">Meet Our Board</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/about/contact_us.html" | prepend: site.baseurl }}">Contact Us</a></li>
                      </ul>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false">Academics <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{{ "/academics/curriculum_overview.html" | prepend: site.baseurl }}">Curriculum Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/academics/programs.html" | prepend: site.baseurl }}">Montessori Programs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/academics/school_hours.html" | prepend: site.baseurl }}">School Hours</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/academics/school_calendar.html" | prepend: site.baseurl }}">School Calendar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/academics/summer_program.html" | prepend: site.baseurl }}">Summer Program & Fees</a></li>
                      </ul>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="menu" aria-haspopup="true" aria-expanded="false">Admissions <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Admissions Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/academics/index.html" | prepend: site.baseurl }}">Enrollment Process</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/admissions/tuition.html" | prepend: site.baseurl }}">Tuition Fees & Schedule</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ "/admissions/schedule_visit.html" | prepend: site.baseurl }}">Schedule A Visit</a></li>

                      </ul>
                </li>

            </ul>
      </div>
    </div> <!-- collapse -->

<!--
    <div id="morebar_clear">
        <div class="bounce">
            <p>NOW ENROLLING!!! SUMMER CAMP &amp; FALL 2016</p>
        </div>        
    </div>
-->

  </div> <!-- row -->

  </nav>
</div> 

<script>
    $(function() {
        $(".dropdown").hover(
            function(){ $(this).addClass('open') },
            function(){ $(this).removeClass('open') }
        );
    });
</script>

</header>



--

new

--


<header role="banner">

<div class="wrapper">
  <div class="header">
    <div class="container cf">


      <a href="{{ "/index.html" | prepend: site.baseurl }}" class="logo notext">Pear</a>
            <button type="button request-button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse navbar-main-collapse">
                <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                <ul id="menu-main-menu" class="nav navbar-nav"><li id="menu-item-5205" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-5205"><a href="http://pearanalytics.com/">Services</a>
<ul class="sub-menu">
  <li id="menu-item-5206" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5206"><a href="http://pearanalytics.com/search-engine-optimization/">Search Engine Optimization</a></li>
  <li id="menu-item-5209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5209"><a href="http://pearanalytics.com/paid-search-management/">Paid Search Management</a></li>
  <li id="menu-item-5208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5208"><a href="http://pearanalytics.com/advanced-analytics/">Advanced Analytics</a></li>
  <li id="menu-item-5207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5207"><a href="http://pearanalytics.com/web-design/">Web Design for Conversion</a></li>
</ul>
</li>
<li id="menu-item-5616" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5616"><a href="http://www.pearanalytics.com/our-work">Work</a></li>
<li id="menu-item-4936" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4936"><a href="/internet-marketing-case-studies">Case Studies</a></li>
<li id="menu-item-5062" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5062"><a href="/resources">Resources</a></li>
<li id="menu-item-5439" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5439"><a href="#">Tools</a>
<ul class="sub-menu">
  <li id="menu-item-5440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5440"><a href="http://pearanalytics.com/ppc-budget-calculator/">PPC Budget Calculator</a></li>
</ul>
</li>
<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://pearanalytics.com/internet-marketing-blog/">Blog</a></li>
<li id="menu-item-4935" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4935"><a href="#">About Pear</a>
<ul class="sub-menu">
  <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="http://pearanalytics.com/meet-the-team/">Meet The Team</a></li>
  <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="http://pearanalytics.com/locate-us/">Locate Us</a></li>
</ul>
</li>
</ul>                </nav>
      </div><!-- /.nav -->





    </div><!-- /.container -->
  </div><!-- /.header -->


    
</div>
</header>
