<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
	    <script>
			var drawing = document.getElementById("aboutUsCanvas");
      var con = drawing.getContext("2d");

			context.font = "18pt Arial";
			context.strokeStyle = "#000";
			context.lineWidth = 0.1;
			for (var i=0; i<8; i++) {
			   context.fillStyle = "#3c0";
			   context.fillRect(30, 0 + (i * 50), 50, 50);
			   context.strokeRect(30, 0 + (i * 50), 50, 50);
			   context.fillStyle = "#fff";
			   context.fillText("Learn About AMS", 0, 0 + (i * 50));
			}

	    </script>
			<div id="container">
				<header role="banner">
					  <div id="header">
						<img id="logo" src="/images/AMS_flame_logo.png" alt="American Montessori Schools Message pic"/>
					</div>
						<nav role="navigation">
							<div id='top_nav'>
				    		<ul font-family:'Helvetica', 'Arial', 'Calibri', 'Sans-Serif'>
									<li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/admissions">Admissions</a></li>
									<li><a href="/location">Location</a></li>
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</div> <!--/.top_nav -->
						</nav>
				</header>

			{{ content }}

			<footer>
						<div id="footer">
							 <div id="footer_text">
								  <h2>American Montessori Schools</h2>
								  <p>67 US-206, Hillsborough Township, NJ 08844 | Phone: 908.977.6640<br>Email:<a href="mailto:info@americanmontessorischools.com">info@americanmontessorischools.com</a></p>
									<p><small>&copy; <script>document.write(new Date().getFullYear());</script> American Montessori Schools. All rights reserved.</small></p>
						    </div><!--/.footer_text -->
						</div><!--/.footer -->
			</footer>

		</div><!--/.container -->
		</body>
	</html>
