<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id="container">
				<header role="banner">
					<div id=header>
						<a href="/">
						<img id="logo" src="/images/AMS_main_logo.jpg" alt="American Montessori Schools"></a>
						<nav role="navigation">
							<div id='top_nav'>
				    		<ul>
									<li><a href="/">Home</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/admissions">Admissions</a></li>
									<li><a href="/location">Location</a></li>
									<li><a href="/contact">Contact Us</a></li>
								</ul>
							</div> <!--/.top_nav -->
						</nav>
					</div>
				</header>

			{{ content }}

			<footer>
						<div id="footer">
							 <div id="footer_text">
								  <h2>American Montessori Schools</h2>
								  <p>67 US-206, Hillsborough Township, NJ 08844 | Phone: 908.977.6640 | <a href="mailto:info@americanmontessorischools.com">info@americanmontessorischools.com</a></p>
									<p><small>&copy; <script>document.write(new Date().getFullYear());</script> American Montessori Schools. All rights reserved.</small></p>
						    </div><!--/.footer_text -->
						</div><!--/.footer -->
			</footer>

		</div><!--/.container -->
		</body>
	</html>
